<div class="container show-preview">
    <div class="row align-items-center">
        <img src="" alt="" class="col-6 col-lg-4 show-preview-img">
        <div class="col-6 col-lg-8">
            <h1 class="show-preview-title">Show Title</h1>
            <h2 class="show-preview-genre">Show Genres</h2>
            <h3 class="show-preview-info">Show Info</h3>
            <div class="show-preview-description">
            </div>
            <h3 class="show-preview-runtime">Show Runtime</h3>
            <div class="row">
                <div class="col-2">
                <label for="rating">Rating: </label>
                <select id="rating" name="show[rating]" class="form-select" required>
                    <option selected disabled value="">Rating...</option>
                    <option value="10">10</option>
                    <option value="9">9</option>
                    <option value="8">8</option>
                    <option value="7">7</option>
                    <option value="6">6</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                </div>
                <div class="col">
                <button class="btn btn-success py-2 px-3 mt-3 list-button">Add to List</button>
                </div>
            </div>
        </div>
    </div>
</div>