<%- include('partials/header.ejs') %>

<main class="container-fluid ms-3">
    <section class="list container mt-5">
        <div class="position-absolute top-50 start-50 translate-middle text-center empty-list">
            <img src="/imgs/tree_trunks.svg" alt="Tree Trunks SVG" width="350">
            <p class="empty-list-text">Nothing here...</p>
        </div>
    </section>
</main>

<script src="/js/navFunctions.js"></script>
</body>
</html>